Versão do Python apenas 3.11.0 > erro

------------------------------------------PIP------------------------------------------
py -m ensurepip --upgrade
py -m pip --version

------------------------------------------Dependecias------------------------------------------
py -3.11 -m pip install --upgrade pip
py -3.11 -m pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

py -3.11 -m pip install ftfy regex tqdm
py -3.11 -m pip install transformers
py -3.11 -m pip install pillow
py -3.11 -m pip install numpy
py -m pip install mysql-connector-python
